<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/navbar.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    <title>$NAV_TITLE$</title>
</head>
<body>

    <nav>
        <a href="/">Frontpage</a>
        <a href="/introduction">Introduction</a>
        <a href="/firstserver">first Server</a>
        <a href="/loopmethods">Loop Methods</a>
        <a href="/htmltime">HTML / time</a>
        <a href="/exportimport">Export / import</a>
        <a href="/clientserver">Client vs server & env variables</a>
        <a href="/ssr">SSR / routers</a>
    </nav>



    <main>